@font-face {
  font-family: Giorgio;
  src: url("../font/Giorgio.ttf");
}
@font-face {
  font-family: Giorgio;
  src: url("../font/Giorgio-Thin.ttf");
  font-weight: 300;
}
/*
@high:#D7191C;
@medium_high:#FD9935;
@medium:#FFFF4D;
@low:#91D049;
@very_low:#1A9641;
*/
:root {
  --header-row-height: 90px;
  --header-slogen-font-size: 20px;
  --header-slogen-padding-top: 20px;
  --header-search-bar-height: 45px;
  --header-resource-bar-height: 45px;
  --header-logo-height: 83.3%;
  --header-logo-width: 74.97%;
  --header-logo-block-width: 24.99%;
  --header-logo-left: 0;
  --header-slogen-block-width: 41.65%;
  --header-search-bar-font-size: 30px;
  --header-search-bar-input-font-size: 16pt;
  --header-search-bar-margin: 5px;
  --header-search-bar-input-height: 40px;
  --header-search-bar-input-margin: 3px;
  --header-search-bar-input-width: 66.64%;
  --header-search-bar-button-width: 4.165%;
  --header-search-bar-button-padding: -8.33%;
  --header-left: 41.65%;
  --header-left-margin: 8.33%;
  --header-search-bar-left: 41.65%;
  --header-right: 49.98%;
  --header-search-bar-right: 49.98%;
  --header-resources-block: 33.32%;
  --header-resource-bar-font-size: 30px;
  --navbar-font-size: 27px;
  --navbar-padding-top: 30px;
  --navbar-icon-size: 28px;
  --navbar-menu-padding: 0 15px;
  --resource-block-width: 33.32%;
  --resource-block-height: 700px;
  --resource-video-height: 380px;
  --resource-video-width: 83.3%;
  --resource-padding: 8.33%;
  --data-panel-height: 300px;
  --data-panel-address-font-size: 26px;
  --data-panel-icon-size: 18px;
  --circlesize: 170px;
  --circleradius: 85px;
  --circle-name-font-size: 28px;
  --circle-unit-font-size: 34px;
  --circle-top: 25px;
  --circle-width: 15px;
  --parammenu-button-font-size: 24px;
  --parammenu-button-point-font-size: 18px;
  --parammenu-button-height: 80px;
  --parammenu-button-margin: 0 4.165%;
  --parammenu-button-width: 16.66%;
  --period-choice-font-size: 18px;
  --period-choice-margin: 0 35px;
  --article-left-left: 8.33%;
  --article-left-width: 41.65%;
  --article-right-width: 41.65%;
  --article-right-right: 4.165%;
  --article-right-padding: 0;
  --chart-legend-font-size: 28px;
  --chart-padding: 15px;
  --chart-width: 83.3%;
  --map-height: 730px;
  --information-section-font-size: 20px;
  --collapse: block;
  --show-menu-button: none;
}
@media only screen and (max-width: 1600px) {
  :root {
    --header-slogen-font-size: 18px;
    --header-slogen-padding-top: 25px;
    --navbar-padding-top: 35px;
    --navbar-font-size: 20px;
    --navbar-icon-size: 21px;
    --navbar-menu-padding: 0 12px;
    --circlesize: 140px;
    --circleradius: 70px;
    --circle-name-font-size: 24px;
    --circle-unit-font-size: 30px;
    --circle-top: 15px;
    --circle-width: 13px;
    --parammenu-button-font-size: 20px;
    --parammenu-button-height: 70px;
    --information-section-font-size: 18px;
    --map-height: 640px;
  }
}
@media only screen and (max-width: 1226px) {
  :root {
    --header-row-height: 80px;
    --header-slogen-font-size: 16px;
    --header-slogen-padding-top: 25px;
    --header-search-bar-height: 40px;
    --header-search-bar-margin: 2px;
    --header-search-bar-input-margin: 3px;
    --header-search-bar-font-size: 21px;
    --header-search-bar-input-font-size: 22px;
    --header-search-bar-input-width: 70.805%;
    --header-search-bar-input-height: 35px;
    --header-search-bar-button-width: 8.33%;
    --header-search-bar-button-padding: 0;
    --header-resource-bar-height: 30px;
    --header-resource-bar-font-size: 20px;
    --header-logo-height: 83.3%;
    --header-logo-width: 83.3%;
    --navbar-font-size: 15px;
    --navbar-icon-size: 16px;
    --navbar-padding-top: 35px;
    --navbar-menu-padding: 0 2.5px;
    --resource-video-height: 300px;
    --circlesize: 110px;
    --circleradius: 55px;
    --circle-name-font-size: 20px;
    --circle-unit-font-size: 26px;
    --circle-width: 10px;
    --parammenu-button-font-size: 18px;
    --parammenu-button-point-font-size: 16px;
    --parammenu-button-height: 60px;
    --parammenu-button-margin: 0 4.165% 0 0;
    --parammenu-button-width: 20.825%;
    --period-choice-margin: 0 10px;
    --period-choice-font-size: 16px;
    --data-panel-address-font-size: 24px;
    --data-panel-icon-size: 16px;
    --information-section-font-size: 15px;
    --chart-legend-font-size: 24px;
    --chart-padding: 15px 5px;
    --map-height: 630px;
  }
}
@media only screen and (max-width: 850px) {
  :root {
    --header-row-height: 80px;
    --header-slogen-font-size: 18px;
    --header-slogen-padding-top: 20px;
    --header-slogen-width: 33.32%;
    --header-search-bar-height: 35px;
    --header-search-bar-margin: 7px;
    --header-search-bar-font-size: 16px;
    --header-search-bar-input-font-size: 18px;
    --header-search-bar-input-height: 30px;
    --header-search-bar-input-width: 83.3%;
    --header-search-bar-right: 58.31%;
    --header-search-bar-left: 41.65%;
    --header-resource-bar-height: 45px;
    --header-resource-bar-font-size: 30px;
    --header-logo-block-width: 29.155%;
    --header-logo-width: 66.64%;
    --header-logo-left: 16.66%;
    --header-left: 99.96%;
    --header-left-margin: 0;
    --header-right: 0;
    --navbar-font-size: 20px;
    --navbar-icon-size: 24px;
    --navbar-padding-top: 35px;
    --resource-block-width: 100%;
    --collapse: none;
    --show-menu-button: block;
    --menu-button-left: 4.165%;
    --resource-video-height: 380px;
    --resource-block-height: 600px;
    --parammenu-button-font-size: 24px;
    --parammenu-button-point-font-size: 18px;
    --parammenu-button-height: 80px;
    --circlesize: 140px;
    --circleradius: 70px;
    --circle-name-font-size: 24px;
    --circle-unit-font-size: 30px;
    --circle-top: 25px;
    --circle-width: 11px;
    --article-left-left: 0;
    --article-left-width: 100%;
    --article-right-width: 100%;
    --article-right-right: 0;
    --article-right-padding: 15px;
    --data-panel-height: 360px;
    --data-panel-address-font-size: 26px;
    --data-panel-icon-size: 18px;
    --period-choice-margin: 0 20px;
    --period-choice-font-size: 18px;
    --information-section-font-size: 20px;
    --map-height: 550px;
    --chart-legend-font-size: 26px;
    --chart-padding: 15px;
    --chart-width: 87.465%;
  }
}
@media only screen and (max-width: 480px) {
  :root {
    --header-search-bar-input-font-size: 13px;
    --header-search-bar-font-size: 10px;
    --header-search-bar-height: 35px;
    --header-search-bar-input-margin: 2px;
    --header-search-bar-input-height: 30px;
    --header-search-bar-margin: 7px;
    --header-slogen-font-size: 15px;
    --header-slogen-padding-top: 25px;
    --header-slogen-width: 41.65%;
    --header-logo-block-width: 41.65%;
    --header-logo-left: 4.165%;
    --header-left: 99.96%;
    --header-right: 0%;
    --navbar-icon-size: 20px;
    --navbar-font-size: 13px;
    --menu-button-left: 5px;
    --resource-video-width: 99.96%;
    --resource-block-height: 400px;
    --resource-padding: 0;
    --parammenu-button-font-size: 19px;
    --parammenu-button-point-font-size: 16px;
    --parammenu-button-height: 60px;
    --circlesize: 100px;
    --circleradius: 50px;
    --circle-name-font-size: 18px;
    --circle-unit-font-size: 22px;
    --circle-top: 20px;
    --circle-width: 8px;
    --data-panel-height: 300px;
    --data-panel-address-font-size: 22px;
    --data-panel-icon-size: 16px;
    --period-choice-margin: 0 10px;
    --period-choice-font-size: 15px;
    --information-section-font-size: 16px;
    --map-height: 430px;
    --chart-legend-font-size: 20px;
    --chart-padding: 15px 0;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}
.col-1 {
  width: 8.33333333%;
}
.col-2 {
  width: 16.66666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333%;
}
.col-5 {
  width: 41.66666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333%;
}
.col-11 {
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}
body {
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  scroll-behavior: smooth;
}
a,
header .navbar-collapse li a,
header .navbar-collapse li button,
header .right .navbar li a,
header .right .navbar li button,
article .right .detail-info a,
article .right .error-msg a,
article .article-section .content .new-block .summary a {
  color: #54a4db;
  text-decoration: none;
}
.button-generator,
header .navbar-collapse li button,
header #language-box button,
header .right .navbar li button,
article .left .data-panel .content .parammenu ul li .parammenu-button,
article .left .data-panel .unit-btn-block button,
article .left .chart .period-choose ul li button,
article .left .information-section button,
article .right .detail-info .close-bar button {
  text-decoration: none;
  display: inline-block;
  color: #54a4db;
  text-align: center;
  background-color: white;
  border: none;
  cursor: pointer;
}
.shadow-button,
article .left .data-panel .content .parammain .circle:hover,
article .left .data-panel .content .parammain .active,
article .left .data-panel .content .parammenu ul li .parammenu-button:hover,
article .left .data-panel .content .parammenu ul li .active {
  font-weight: bold;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
header {
  font-family: "Giorgio", sans-serif;
}
header .row {
  height: var(--header-row-height);
}
header .search-bar,
article .resource-bar,
article .video-section .bar,
article .tweets-section .bar,
article .profile-section .bar,
article .article-section .bar {
  height: var(--header-search-bar-height);
  background-color: #54a4db;
  color: white;
}
header .search-bar h1,
article .resource-bar h1,
article .video-section .bar h1,
article .tweets-section .bar h1,
article .profile-section .bar h1,
article .article-section .bar h1 {
  font-size: var(--header-search-bar-font-size);
  text-align: center;
  font-weight: bold;
  margin-top: var(--header-search-bar-margin);
  letter-spacing: 1px;
}
header .search-bar .left {
  height: inherit;
  position: relative;
  left: var(--header-left-margin);
  float: left;
  width: var(--header-search-bar-left);
}
header .search-bar .right {
  height: inherit;
  float: right;
  width: var(--header-search-bar-right);
}
header .search-container {
  width: 100%;
  height: inherit;
  position: relative;
}
header .search-container button[type="button"],
header .search-container .address {
  float: right;
  position: relative;
  height: 80%;
  margin-top: var(--header-search-bar-input-margin);
  font-size: var(--header-search-bar-input-font-size);
}
header .search-container .address {
  width: var(--header-search-bar-input-width);
  opacity: 0.95;
  border: 5px #dad9d9;
  float: left;
  text-align: left;
  left: 8.33%;
  font-family: Arial, sans-serif;
  border-radius: 5px;
  background-color: white;
  z-index: 3;
}
header .search-container .address input[type="text"],
header .search-container .address li {
  font-family: Arial, sans-serif;
  font-size: var(--header-search-bar-input-font-size);
  z-index: 3;
}
header .search-container button[type="button"] {
  background: transparent;
  opacity: 0.5;
  border: none;
  float: left;
  width: var(--header-search-bar-button-width);
  right: var(--header-search-bar-button-padding);
  cursor: pointer;
  transition: opacity 0.5s;
}
header .search-container button[type="button"]:hover {
  opacity: 0.8;
}
header .search-container .mapboxgl-ctrl-geocoder {
  height: var(--header-search-bar-input-height);
  min-width: 100%;
  font-size: var(--header-search-bar-input-font-size);
}
header .search-container .mapboxgl-ctrl-geocoder input {
  height: inherit;
}
header .search-container .mapboxgl-ctrl-geocoder .geocoder-icon-search {
  top: 24%;
}
header .logo {
  height: inherit;
  position: relative;
  float: left;
  width: var(--header-logo-block-width);
  margin-left: var(--header-logo-left);
}
header .logo img {
  position: relative;
  width: var(--header-logo-width);
  height: var(--header-logo-height);
  margin-top: 10px;
  margin-left: 12.495%;
}
header .slogen {
  float: left;
  padding-top: var(--header-slogen-padding-top);
  width: var(--header-slogen-block-width);
}
header .slogen h2 {
  letter-spacing: 1.5px;
  color: #54a4db;
  font-size: var(--header-slogen-font-size);
  font-weight: bold;
}
header .menu-button {
  display: var(--show-menu-button);
  position: relative;
  cursor: pointer;
  float: left;
  top: 35%;
  left: var(--menu-button-left);
  width: 8.33333333%;
}
header .menu-button .bar {
  width: 35px;
  height: 5px;
  background-color: #54a4db;
  margin: 6px 0;
}
header .navbar-collapse {
  position: absolute;
  display: none;
  top: var(--header-row-height);
  z-index: 2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
header .navbar-collapse li {
  list-style-type: none;
  opacity: 0.85;
  background: white;
  text-align: left;
  height: 35px;
  padding: 5px 10px 10px 10px;
}
header .navbar-collapse li:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
header .navbar-collapse li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
header .navbar-collapse li a,
header .navbar-collapse li button {
  font-size: var(--navbar-font-size);
}
header .navbar-collapse li button {
  font-size: var(--navbar-font-size);
  font-family: "Giorgio", sans-serif;
}
header .navbar-collapse li button a {
  padding: 0;
}
header .navbar-collapse li img {
  height: var(--navbar-icon-size);
  width: var(--navbar-icon-size);
  opacity: 1;
  transition: opacity 0.5s;
}
header .navbar-collapse li img:hover {
  opacity: 0.7;
}
header .active {
  display: block;
}
header .non-active {
  display: none;
}
header .icon {
  padding: 0 0.1em 0 0.1em;
  position: relative;
  top: 3px;
}
header #language-box {
  position: relative;
  display: inline-block;
  padding-top: var(--navbar-padding-top);
}
header #language-box #language-list {
  position: absolute;
  display: block;
  opacity: 0.75;
  z-index: 5;
}
header #language-box button {
  top: 10%;
  letter-spacing: 1px;
  transition: text-shadow 0.5s;
  font-size: var(--navbar-font-size);
  font-family: "Giorgio", sans-serif;
  position: relative;
  display: inline-block;
  clear: both;
  min-width: 150px;
  text-align: right;
}
header #language-box button:hover {
  text-shadow: 1px 0 0 currentColor;
}
header .left {
  height: inherit;
  position: relative;
  left: var(--header-left-margin);
  float: left;
  width: var(--header-left);
}
header .right {
  height: inherit;
  float: right;
  width: var(--header-right);
}
header .right .navbar {
  height: inherit;
  padding-top: var(--navbar-padding-top);
  display: var(--collapse);
}
header .right .navbar ul {
  list-style-type: none;
  overflow: hidden;
  position: relative;
  float: right;
  right: 16.66%;
}
header .right .navbar li {
  display: inline-block;
  font-size: var(--navbar-font-size);
}
header .right .navbar li a,
header .right .navbar li button {
  letter-spacing: 1px;
  padding: var(--navbar-menu-padding);
  transition: text-shadow 0.5s;
  cursor: pointer;
}
header .right .navbar li a:hover,
header .right .navbar li button:hover {
  text-shadow: 1px 0 0 currentColor;
}
header .right .navbar li a img,
header .right .navbar li button img,
header .right .navbar li a i,
header .right .navbar li button i {
  height: var(--navbar-icon-size);
  width: var(--navbar-icon-size);
  opacity: 1;
  transition: opacity 0.5s;
}
header .right .navbar li a img:hover,
header .right .navbar li button img:hover,
header .right .navbar li a i:hover,
header .right .navbar li button i:hover {
  opacity: 0.7;
}
header .right .navbar li button {
  font-size: var(--navbar-font-size);
  font-family: "Giorgio", sans-serif;
}
header .right .navbar li button a {
  padding: 0;
}
article {
  -webkit-overflow-scrolling: touch;
}
article .loading-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 6;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}
article .loading-overlay .loader {
  position: absolute;
  left: 50%;
  top: 35%;
  border: 16px solid #f9f9f9;
  border-radius: 50%;
  border-top: 16px solid #54a4db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
article .active {
  display: block;
}
article .non-active {
  display: none;
}
article .left {
  float: left;
  position: relative;
  left: var(--article-left-left);
  width: var(--article-left-width);
}
article .left .data-panel {
  display: table;
  background-color: white;
  padding-top: 20px;
  height: var(--data-panel-height);
  position: inherit;
}
article .left .data-panel h1,
article .left .data-panel h2 {
  text-align: center;
  margin: 0;
  letter-spacing: 1px;
}
article .left .data-panel h1 {
  color: #54a4db;
  font-size: var(--data-panel-address-font-size);
  font-weight: 800;
  text-align: center;
  display: inline-block;
}
article .left .data-panel h1 span {
  color: #54a4db;
}
article .left .data-panel h2 {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  padding: 5px 0;
}
article .left .data-panel h2 span,
article .left .data-panel h2 button {
  color: #54a4db;
  font-size: var(--data-panel-icon-size);
}
article .left .data-panel h2 button {
  background-color: white;
  border: none;
  cursor: pointer;
}
article .left .data-panel .content {
  position: relative;
}
article .left .data-panel .content .parammain {
  float: right;
  background-color: white;
  width: 25%;
}
article .left .data-panel .content .parammain button {
  background: transparent;
}
article .left .data-panel .content .parammain .circle {
  float: right;
  height: var(--circlesize);
  width: var(--circlesize);
  background-color: white;
  border-radius: var(--circleradius);
  position: relative;
  top: 15px;
  cursor: pointer;
}
article .left .data-panel .content .parammain .circle .paramname,
article .left .data-panel .content .parammain .circle .paramunit {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100%;
  top: var(--circle-top);
  font-size: var(--circle-name-font-size);
  font-weight: 800;
  color: #515151;
  height: 33.32%;
}
article .left .data-panel .content .parammain .circle .paramunit {
  font-size: var(--circle-unit-font-size);
}
article .left .data-panel .content .parammain .low {
  border: solid #006699 var(--circle-width);
}
article .left .data-panel .content .parammain .high {
  border: solid #cc0000 var(--circle-width);
}
article .left .data-panel .content .parammain .medium_high {
  border: solid #ff6666 var(--circle-width);
}
article .left .data-panel .content .parammain .medium {
  border: solid #ffcc00 var(--circle-width);
}
article .left .data-panel .content .parammain .very_low {
  border: solid #00ccff var(--circle-width);
}
article .left .data-panel .content .parammain .grey {
  border: solid #dad9d9 var(--circle-width);
}
article .left .data-panel .content .parammenu {
  float: left;
  position: relative;
  width: 75%;
}
article .left .data-panel .content .parammenu ul {
  width: 100%;
  float: left;
  list-style-type: none;
}
article .left .data-panel .content .parammenu ul:last-child {
  clear: left;
}
article .left .data-panel .content .parammenu ul li {
  float: right;
  background-color: white;
  width: var(--parammenu-button-width);
  margin: var(--parammenu-button-margin);
}
article .left .data-panel .content .parammenu ul li .parammenu-button {
  font-size: var(--parammenu-button-font-size);
  width: 91.63%;
  height: var(--parammenu-button-height);
  margin: 10px 30px 10px 0;
  padding: 0 5px;
  border-radius: 5px;
  transition: 0.25s;
  cursor: pointer;
}
article .left .data-panel .content .parammenu ul li .parammenu-button a {
  font-size: var(--parammenu-button-point-font-size);
  position: relative;
  bottom: 8px;
  margin-top: 8px;
  display: block;
}
article .left .data-panel .content .parammenu ul li .parammenu-button sub {
  font-size: var(--parammenu-button-point-font-size);
}
article .left .data-panel .content .parammenu ul li .parammenu-button:after {
  content: attr(title);
}
article .left .data-panel .content .parammenu ul li .low {
  border-bottom: solid #006699 5px;
}
article .left .data-panel .content .parammenu ul li .high {
  border-bottom: solid #cc0000 5px;
}
article .left .data-panel .content .parammenu ul li .medium_high {
  border-bottom: solid #ff6666 5px;
}
article .left .data-panel .content .parammenu ul li .medium {
  border-bottom: solid #ffcc00 5px;
}
article .left .data-panel .content .parammenu ul li .very_low {
  border-bottom: solid #00ccff 5px;
}
article .left .data-panel .content .parammenu ul li .grey {
  border-bottom: solid #dad9d9 5px;
}
article .left .data-panel h2 {
  position: relative;
  display: inline-block;
}
article .left .data-panel .unit-btn-block {
  width: 33.33333333%;
  position: relative;
  display: inline-block;
}
article .left .data-panel .unit-btn-block button {
  font-size: 14px;
  transition: color 0.5s;
  padding: 0 7%;
}
article .left .data-panel .unit-btn-block button:hover {
  color: #37759e;
}
article .left .data-panel .unit-btn-block .active {
  color: #37759e;
  font-weight: bold;
}
article .left .data-panel .unit-btn-block .disabled {
  color: #b2b2b2;
}
article .left .data-panel .unit-btn-block .disabled:hover {
  color: #b2b2b2;
}
article .left .chart {
  height: 360px;
  border: solid #b9b9b9 1.5px;
  padding: var(--chart-padding);
  background-color: white;
  position: relative;
  /*
            .high-light{
                position: relative;
                z-index: 10;
                background-color: white;
            }
            */
}
article .left .chart .period-choose {
  float: right;
  position: inherit;
  background-color: transparent;
  display: block;
}
article .left .chart .period-choose ul {
  overflow: hidden;
  list-style-type: none;
  text-align: center;
}
article .left .chart .period-choose ul li {
  display: inline-block;
  margin: var(--period-choice-margin);
}
article .left .chart .period-choose ul li button {
  font-size: var(--period-choice-font-size);
  font-weight: bold;
  transition: color 0.5s;
}
article .left .chart .period-choose ul li button:hover {
  color: #37759e;
}
article .left .chart .period-choose ul li .active {
  color: #37759e;
}
article .left .chart .period-choose ul li .disabled {
  color: #b2b2b2;
}
article .left .chart .period-choose ul li .disabled:hover {
  color: #b2b2b2;
}
article .left .chart .param-chart {
  position: relative;
  float: left;
  height: 300px;
  left: 4.165%;
  width: var(--chart-width);
}
article .left .chart .popup-container {
  visibility: hidden;
  width: 70px;
  height: 250px;
  color: #fff;
  text-align: center;
  padding: 2% 0;
  position: relative;
  opacity: 0.8;
  margin-bottom: 10%;
  /*
                &::after {
                    content: "";
                    position: relative;
                    bottom: 80%;
                    left: 100%;
                    //margin-left: -10px;
                    border-width: 10px;
                    border-style: solid;
                    border-color:  transparent transparent transparent#555 ;
                }
                */
  /* Add animation (fade in the popup) */
}
article .left .chart .popup-container .color-bar {
  position: relative;
  display: inline;
  float: left;
  left: 25%;
  top: 2%;
}
article .left .chart .popup-container ul {
  position: relative;
  float: left;
  display: inline-block;
  left: 15%;
  height: 210px;
  width: 40px;
  display: none;
}
article .left .chart .popup-container ul li {
  list-style-type: none;
  height: 19%;
  position: relative;
  float: left;
  font-size: 14px;
  text-align: left;
  clear: both;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
article .left .chart .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
article .left .chart .legend {
  float: left;
  height: 300px;
  width: 12.495%;
}
article .left .chart .legend h1,
article .left .chart .legend h2 {
  color: #515151;
  font-size: var(--chart-legend-font-size);
  text-align: center;
  padding-top: 10%;
}
article .left .chart .legend h1 sub,
article .left .chart .legend h2 sub {
  font-size: 16px;
}
article .left .chart .legend h2 {
  font-size: 14px;
  padding-top: 5%;
}
article .left .information-section {
  background-color: white;
  position: relative;
  float: left;
  text-align: justify;
  padding: 20px 20px 0 20px;
  font-size: var(--information-section-font-size);
  display: none;
}
article .left .information-section p {
  display: inline;
}
article .left .information-section button {
  font-size: var(--information-section-font-size);
  font-weight: bold;
  background-color: white;
  transition: color 0.5s;
}
article .left .information-section button:hover {
  color: #37759e;
}
article .left .active {
  display: block;
}
article .left .high-light {
  position: relative;
  z-index: 10;
  background-color: white;
}
article .left .error-logo {
  padding: 200px 0 100px 200px;
}
article .left .error-logo img {
  height: 300px;
  width: 500px;
}
article .right {
  position: relative;
  float: right;
  width: var(--article-right-width);
  right: var(--article-right-right);
  padding: var(--article-right-padding);
}
article .right #map {
  height: var(--map-height);
  position: relative;
  margin-top: 30px;
  overflow-y: hidden;
}
article .right #map .mapboxgl-canvas-container {
  z-index: 2;
}
article .right .high-light {
  z-index: 10;
}
article .right .detail-info {
  display: none;
  position: absolute;
  float: right;
  z-index: 3;
  width: 91.63%;
  background: #515151;
  color: white;
  opacity: 0.9;
  right: 4.165%;
  top: 15%;
  font-size: 20px;
  padding: 10px 40px 50px 40px;
  text-align: justify;
  overflow-y: auto;
  max-height: 650px;
}
article .right .detail-info a {
  word-wrap: break-word;
}
article .right .detail-info a:hover {
  text-decoration: underline;
  color: #7ec2f1;
}
article .right .detail-info .close-bar {
  width: 104.125%;
  text-align: right;
  padding-bottom: 10px;
}
article .right .detail-info .close-bar button {
  font-size: 30px;
  background: #515151;
}
article .right .detail-info .close-bar button:hover {
  color: #7ec2f1;
}
article .right .detail-info b {
  font-size: 28px;
}
article .right .active {
  display: block;
}
article .right .error-msg {
  padding: 250px 0 50px 0;
}
article .right .error-msg h1,
article .right .error-msg a {
  font-size: 55px;
  color: #54a4db;
}
article .right .error-msg a {
  font-style: italic;
}
article .right .error-msg a:hover {
  text-decoration: underline;
}
article .resource-bar,
article .video-section .bar,
article .tweets-section .bar,
article .profile-section .bar,
article .article-section .bar {
  font-family: "Giorgio", Arial, sans-serif;
  height: var(--header-resource-bar-height);
}
article .resource-bar h1,
article .video-section .bar h1,
article .tweets-section .bar h1,
article .profile-section .bar h1,
article .article-section .bar h1 {
  width: 100%;
  position: relative;
  font-size: var(--header-resource-bar-font-size);
  text-align: center;
  padding-top: 5px;
}
article .video-section {
  width: var(--resource-block-width);
  float: left;
}
article .video-section .content {
  height: var(--resource-block-height);
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 30px;
}
article .video-section .content .video-block {
  float: left;
  width: var(--resource-video-width);
  position: relative;
  height: var(--resource-video-height);
  margin-left: var(--resource-padding);
  border-top: 1px solid #dad9d9;
}
article .video-section .content .video-block:hover {
  background-color: rgba(160, 200, 220, 0.12);
}
article .video-section .content .video-block:last-child {
  border-bottom: 1px solid #dad9d9;
}
article .video-section .content .video-block h1 {
  text-align: left;
  padding-left: var(--resource-padding);
  margin-top: 4.165%;
  font-size: 25px;
  font-weight: normal;
  color: #292f33;
}
article .video-section .content .video-block iframe {
  position: relative;
  margin-top: 4.165%;
  height: 74.97%;
  left: var(--resource-padding);
  width: var(--resource-video-width);
}
article .tweets-section {
  width: var(--resource-block-width);
  float: left;
}
article .tweets-section .content {
  height: var(--resource-block-height);
  overflow-y: auto;
  width: 100%;
  float: left;
  padding: 0 var(--resource-padding);
}
article .profile-section {
  float: left;
  padding: 0;
}
article .profile-section .content {
  height: var(--resource-block-height);
  overflow-y: auto;
  width: 100%;
  float: left;
  padding: 0 var(--resource-padding);
}
article .article-section {
  width: var(--resource-block-width);
  float: left;
}
article .article-section .content {
  height: var(--resource-block-height);
  overflow-y: auto;
  padding: 30px var(--resource-padding);
  width: 100%;
  float: right;
}
article .article-section .content .new-block {
  text-align: left;
  padding: 30px 10px 10px 10px;
  width: 100%;
  display: block;
  border-top: 1px solid #dad9d9;
}
article .article-section .content .new-block:hover {
  background-color: rgba(160, 200, 220, 0.12);
}
article .article-section .content .new-block:last-child {
  border-bottom: 1px solid #dad9d9;
}
article .article-section .content .new-block h1 {
  color: #292f33;
  font-size: 27px;
  font-weight: normal;
}
article .article-section .content .new-block .summary {
  width: 100%;
  position: relative;
  text-align: justify;
  color: #54a4db;
  font-size: 18px;
  padding: 5px 0 50px 0;
}
article .article-section .content .new-block .summary a {
  color: #54a4db;
  transition: text-shadow 0.25s;
}
article .article-section .content .new-block .summary a:visited {
  color: #37759e;
}
article .article-section .content .new-block .summary a:hover {
  text-shadow: 1px 0 0 currentColor;
  text-decoration: underline;
}
